<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/chat.css">
</head>
<body>
    <div id="app">
        <div class="container">
            <h1>채팅</h1>
            <div class="row">
                <div class="col-sm-12">
                    <ul id="messages"></ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form id="chatbox">
                        {{.UserData.name}}:<br />
                        <textarea class="form-control"></textarea>
                        <input type="submit" value="전송" class="form-control btn-primary" />
                        또는 <a href="/logout">로그아웃</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>

    <script>
        $(function() {
            var socket = null;
            var msgBox = $("#chatbox textarea");
            var messages = $("#messages");

            $("#chatbox").submit(function () {
                if (!msgBox.val()) return false;
                if (!socket) {
                    alert("오류: 소켓 연결이 없습니다.");
                    return false;
                }
                socket.send(JSON.stringify({"Message": msgBox.val()}));
                msgBox.val("");
                return false;
            });
            if (!window["WebSocket"]) {
                alert("오류: 브라우저가 웹 소켓을 지원하지 않습니다.")
            } else {
                socket = new WebSocket("ws://{{.Host}}/room");
                socket.onclose = function () {
                    alert("연결이 종료됐습니다.");
                }
                socket.onmessage = function(e) {
                    var msg = JSON.parse(e.data);
                    messages.append(
                        $("<li class='message'>").append(
                            $("<img>").css({
                                width: 50,
                                verticalAlign: "middle",
                                margin: "2px 20px 2px 2px"
                            }).attr("src", msg.AvatarURL),
                            $("<strong class='name'>").text(msg.Name + ": "),
                            $("<span class='text'>").text(msg.Message),
                            $("<span class='timestamp'>").text("("+msg.When+")")
                        )
                    );
                }
            }
        });
    </script>
</body>
</html>
