<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로그인</title>
    <link rel="stylesheet" href="/assets/bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>로그인</h1>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">채팅을 하려면 로그인해야 합니다.</h3>
            </div>
            <div class="panel-body">
                <p>다음 서비스로 로그인할 수 있습니다.</p>
                <ul>
                    <li><a href="/auth/login/facebook">Facebook</a></li>
                    <li><a href="/auth/login/github">GitHub</a></li>
                    <li><a href="/auth/login/google">Google</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
